<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no">
  <title>您訪問的頁面不存在</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="error_page">
  <img src="images/down.png">
  <h1>您訪問的頁面不存在</h1>
  <h2>可能是因为您的链接地址有误、该文章已经被作者删除或转为私密状态。</h2>
  <a href="/">返回首页</a>
</body>
</html>
